[Unit]
Description=Theme Plasma

[Service]
ExecStart=/usr/share/horizon/scripts/kinoite/theme-plasma.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target