[Unit]
Description=Manage system theme
ConditionUser=!@system
After=plasma-plasmashell.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nebula -t
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target